* {
  margin: 0;
  padding: 0;
}

.main.container {
  background-image: url('img/paintedplains.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid black;
  display: inline-block;
  height: 86px;
  margin: 0 10px 10px 10px;
  width: 100px;
  
  &.platinum {
    background-image: url('img/200px-Platinum-new.jpg');
  }
  &.gold {
    background-image: url('img/200px-Gold-new.jpg');
  }
  &.silver {
    background-image: url('img/200px-Silver-new.jpg');
  }
  &.copper {
    background-image: url('img/200px-Copper-new.jpg');
  }
  &.curse {
    background-image: url('img/200px-Curse-new.jpg');
  }
  &.estate {
    background-image: url('img/200px-Estate-new.jpg');
  }
  &.duchy {
    background-image: url('img/200px-Duchy-new.jpg');
  }
  &.province {
    background-image: url('img/200px-Province-new.jpg');
  }
  &.colony {
    background-image: url('img/200px-Colony-new.jpg');
  }
}
