* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  background-image: url('img/paintedplains.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid black;
  display: inline-block;
  height: 86px;
  margin: 0 10px 10px 10px;
  width: 100px;
  
  &.Platinum {
    background-image: url('img/200px-Platinum-new.jpg');
  }
  &.Gold {
    background-image: url('img/200px-Gold-new.jpg');
  }
  &.Silver {
    background-image: url('img/200px-Silver-new.jpg');
  }
  &.Copper {
    background-image: url('img/200px-Copper-new.jpg');
  }
  &.Curse {
    background-image: url('img/200px-Curse-new.jpg');
  }
  &.Estate {
    background-image: url('img/200px-Estate-new.jpg');
  }
  &.Duchy {
    background-image: url('img/200px-Duchy-new.jpg');
  }
  &.Province {
    background-image: url('img/200px-Province-new.jpg');
  }
  &.Colony {
    background-image: url('img/200px-Colony-new.jpg');
  }
}
