* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  background-image: url('img/paintedplains.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.circle-badge {
  border: 1px solid;
  border-radius: 100%;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  text-align: center;
  width: 15px;
}

#handCardContainer {
  bottom: 0;
  position: absolute;
  
  .card {
    .count, .purchase {
      display: none;
    }
  }
}

#basicCardSupply {
  .card {
    height: 80px;
    border-bottom: 3px solid black;
  }
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0;
  display: inline-block;
  height: 160px;
  margin: 0 10px 10px 10px;
  position: relative;
  width: 100px;

  .cost {
    background-color: #EED050;
    border-color: rgba(0,0,0,0.3)
    bottom: 0px;
    color: #444;
    position: absolute;
  }

  .count {
    background-color: rgb(127, 146, 186);
    border-color: rgb(94, 129, 239);
    bottom: 0px;
    color: rgb(44, 44, 44);
    left: 0;
    position: absolute;
  }

  .purchase {
    background-color: rgb(22, 140, 22);
    border-color: darkgreen;
    color: white;
    font-weight: bold;  
  }

  &.mini {
    height: 86px;
    border-bottom: 3px solid black;
  }
  
  /* Basic Cards */
  &.Platinum {
    background-image: url('img/200px-Platinum-new.jpg');
  }
  &.Gold {
    background-image: url('img/200px-Gold-new.jpg');
  }
  &.Silver {
    background-image: url('img/200px-Silver-new.jpg');
  }
  &.Copper {
    background-image: url('img/200px-Copper-new.jpg');
  }
  &.Curse {
    background-image: url('img/200px-Curse-new.jpg');
  }
  &.Estate {
    background-image: url('img/200px-Estate-new.jpg');
  }
  &.Duchy {
    background-image: url('img/200px-Duchy-new.jpg');
  }
  &.Province {
    background-image: url('img/200px-Province-new.jpg');
  }
  &.Colony {
    background-image: url('img/200px-Colony-new.jpg');
  }

  /* Base Set */
  &.Adventurer {
    background-image: url('img/200px-Adventurer.jpg');
  }
  &.Bureaucrat {
    background-image: url('img/200px-Bureaucrat.jpg');
  }
  &.Cellar {
    background-image: url('img/200px-Cellar.jpg');
  }
  &.Chancellor {
    background-image: url('img/200px-Chancellor.jpg');
  }
  &.Chapel {
    background-image: url('img/200px-Chapel.jpg');
  }
  &.Council_Room {
    background-image: url('img/200px-Council_Room.jpg');
  }
  &.Feast {
    background-image: url('img/200px-Feast.jpg');
  }
  &.Festival {
    background-image: url('img/200px-Festival.jpg');
  }
  &.Gardens {
    background-image: url('img/200px-Gardens.jpg');
  }
  &.Laboratory {
    background-image: url('img/200px-Laboratory.jpg');
  }
  &.Library {
    background-image: url('img/200px-Library.jpg');
  }
  &.Market {
    background-image: url('img/200px-Market.jpg');
  }
  &.Militia {
    background-image: url('img/200px-Militia.jpg');
  }
  &.Mine {
    background-image: url('img/200px-Mine.jpg');
  }
  &.Moat {
    background-image: url('img/200px-Moat.jpg');
  }
  &.Moneylender {
    background-image: url('img/200px-Moneylender.jpg');
  }
  &.Remodel {
    background-image: url('img/200px-Remodel.jpg');
  }
  &.Smithy {
    background-image: url('img/200px-Smithy.jpg');
  }
  &.Spy {
    background-image: url('img/200px-Spy.jpg');
  }
  &.Thief {
    background-image: url('img/200px-Thief.jpg');
  }
  &.Throne_Room {
    background-image: url('img/200px-Throne_Room.jpg');
  }
  &.Village {
    background-image: url('img/200px-Village.jpg');
  }
  &.Witch {
    background-image: url('img/200px-Witch.jpg');
  }
  &.Woodcutter {
    background-image: url('img/200px-Woodcutter.jpg');
  }
  &.Workshop {
    background-image: url('img/200px-Workshop.jpg');
  }
}
